@import "tailwindcss";
@import "tw-animate-css";

@custom-variant dark (&:is(.dark *));

:root {
  --background: oklch(0.9735 0.0054 274.9663);
  --foreground: oklch(0.3004 0.0296 273.6036);
  --card: oklch(0.9735 0.0054 274.9663);
  --card-foreground: oklch(0.2138 0.0019 286.2347);
  --popover: oklch(1.0000 0 0);
  --popover-foreground: oklch(0.2338 0.0214 276.5874);
  --primary: oklch(0.6862 0.1067 224.0996);
  --primary-foreground: oklch(1.0000 0 0);
  --secondary: oklch(0.9043 0.0140 272.6788);
  --secondary-foreground: oklch(0.4040 0.0186 277.3747);
  --muted: oklch(0.9130 0.0155 269.9747);
  --muted-foreground: oklch(0.5939 0.0076 277.0804);
  --accent: oklch(0.9043 0.0140 272.6788);
  --accent-foreground: oklch(0.2338 0.0214 276.5874);
  --destructive: oklch(0.2138 0.0019 286.2347);
  --destructive-foreground: oklch(1.0000 0 0);
  --border: oklch(0.8737 0.0069 277.1501);
  --input: oklch(0.7366 0.0159 277.7596);
  --ring: oklch(0.6905 0.1561 58.2353);
  --chart-1: oklch(0.5976 0.1036 231.1780);
  --chart-2: oklch(0.9361 0.1416 118.2076);
  --chart-3: oklch(0.8405 0.0286 272.4596);
  --chart-4: oklch(0.9414 0.0392 119.6976);
  --chart-5: oklch(0.6061 0.1071 230.6607);
  --sidebar: oklch(0.9531 0.0081 278.6349);
  --sidebar-foreground: oklch(0.3496 0.0051 286.1304);
  --sidebar-primary: oklch(0.6862 0.1067 224.0996);
  --sidebar-primary-foreground: oklch(0.9881 0 0);
  --sidebar-accent: oklch(0.9043 0.0140 272.6788);
  --sidebar-accent-foreground: oklch(0.3250 0 0);
  --sidebar-border: oklch(0.9401 0 0);
  --sidebar-ring: oklch(0.7731 0 0);
  --font-sans: ui-sans-serif, system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, 'Helvetica Neue', Arial, 'Noto Sans', sans-serif, 'Apple Color Emoji', 'Segoe UI Emoji', 'Segoe UI Symbol', 'Noto Color Emoji';
  --font-serif: ui-serif, Georgia, Cambria, "Times New Roman", Times, serif;
  --font-mono: ui-monospace, SFMono-Regular, Menlo, Monaco, Consolas, "Liberation Mono", "Courier New", monospace;
  --radius: 0.5rem;
  --shadow-2xs: 0 1px 3px 0px hsl(0 0% 0% / 0.05);
  --shadow-xs: 0 1px 3px 0px hsl(0 0% 0% / 0.05);
  --shadow-sm: 0 1px 3px 0px hsl(0 0% 0% / 0.10), 0 1px 2px -1px hsl(0 0% 0% / 0.10);
  --shadow: 0 1px 3px 0px hsl(0 0% 0% / 0.10), 0 1px 2px -1px hsl(0 0% 0% / 0.10);
  --shadow-md: 0 1px 3px 0px hsl(0 0% 0% / 0.10), 0 2px 4px -1px hsl(0 0% 0% / 0.10);
  --shadow-lg: 0 1px 3px 0px hsl(0 0% 0% / 0.10), 0 4px 6px -1px hsl(0 0% 0% / 0.10);
  --shadow-xl: 0 1px 3px 0px hsl(0 0% 0% / 0.10), 0 8px 10px -1px hsl(0 0% 0% / 0.10);
  --shadow-2xl: 0 1px 3px 0px hsl(0 0% 0% / 0.25);
}

.dark {
  --background: oklch(0.2611 0.0037 286.1414);
  --foreground: oklch(0.7864 0.0145 272.6452);
  --card: oklch(0.2611 0.0037 286.1414);
  --card-foreground: oklch(0.9735 0.0054 274.9663);
  --popover: oklch(0.3020 0.0036 286.1848);
  --popover-foreground: oklch(0.9137 0.0040 286.3196);
  --primary: oklch(0.7419 0.1046 222.4571);
  --primary-foreground: oklch(1.0000 0 0);
  --secondary: oklch(0.9735 0.0054 274.9663);
  --secondary-foreground: oklch(0.3020 0.0036 286.1848);
  --muted: oklch(0.2143 0.0039 286.0676);
  --muted-foreground: oklch(0.7434 0.0173 278.4084);
  --accent: oklch(0.2097 0.0080 274.5332);
  --accent-foreground: oklch(0.9531 0.0081 278.6349);
  --destructive: oklch(0.8763 0.1370 194.9428);
  --destructive-foreground: oklch(1.0000 0 0);
  --border: oklch(0.3430 0.0104 285.8400);
  --input: oklch(0.4145 0.0116 279.3939);
  --ring: oklch(0.6905 0.1561 58.2353);
  --chart-1: oklch(0.5976 0.1036 231.1780);
  --chart-2: oklch(0.9361 0.1416 118.2076);
  --chart-3: oklch(0.2097 0.0080 274.5332);
  --chart-4: oklch(0.3898 0.0458 114.9651);
  --chart-5: oklch(0.6061 0.1071 230.6607);
  --sidebar: oklch(0.2344 0.0024 247.9303);
  --sidebar-foreground: oklch(0.7864 0.0145 272.6452);
  --sidebar-primary: oklch(0.3250 0 0);
  --sidebar-primary-foreground: oklch(0.9881 0 0);
  --sidebar-accent: oklch(0.2138 0.0019 286.2347);
  --sidebar-accent-foreground: oklch(0.7864 0.0145 272.6452);
  --sidebar-border: oklch(0.9401 0 0);
  --sidebar-ring: oklch(0.7731 0 0);
  --font-sans: ui-sans-serif, system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, 'Helvetica Neue', Arial, 'Noto Sans', sans-serif, 'Apple Color Emoji', 'Segoe UI Emoji', 'Segoe UI Symbol', 'Noto Color Emoji';
  --font-serif: ui-serif, Georgia, Cambria, "Times New Roman", Times, serif;
  --font-mono: ui-monospace, SFMono-Regular, Menlo, Monaco, Consolas, "Liberation Mono", "Courier New", monospace;
  --radius: 0.5rem;
  --shadow-2xs: 0 1px 3px 0px hsl(0 0% 0% / 0.05);
  --shadow-xs: 0 1px 3px 0px hsl(0 0% 0% / 0.05);
  --shadow-sm: 0 1px 3px 0px hsl(0 0% 0% / 0.10), 0 1px 2px -1px hsl(0 0% 0% / 0.10);
  --shadow: 0 1px 3px 0px hsl(0 0% 0% / 0.10), 0 1px 2px -1px hsl(0 0% 0% / 0.10);
  --shadow-md: 0 1px 3px 0px hsl(0 0% 0% / 0.10), 0 2px 4px -1px hsl(0 0% 0% / 0.10);
  --shadow-lg: 0 1px 3px 0px hsl(0 0% 0% / 0.10), 0 4px 6px -1px hsl(0 0% 0% / 0.10);
  --shadow-xl: 0 1px 3px 0px hsl(0 0% 0% / 0.10), 0 8px 10px -1px hsl(0 0% 0% / 0.10);
  --shadow-2xl: 0 1px 3px 0px hsl(0 0% 0% / 0.25);
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --color-card: var(--card);
  --color-card-foreground: var(--card-foreground);
  --color-popover: var(--popover);
  --color-popover-foreground: var(--popover-foreground);
  --color-primary: var(--primary);
  --color-primary-foreground: var(--primary-foreground);
  --color-secondary: var(--secondary);
  --color-secondary-foreground: var(--secondary-foreground);
  --color-muted: var(--muted);
  --color-muted-foreground: var(--muted-foreground);
  --color-accent: var(--accent);
  --color-accent-foreground: var(--accent-foreground);
  --color-destructive: var(--destructive);
  --color-destructive-foreground: var(--destructive-foreground);
  --color-border: var(--border);
  --color-input: var(--input);
  --color-ring: var(--ring);
  --color-chart-1: var(--chart-1);
  --color-chart-2: var(--chart-2);
  --color-chart-3: var(--chart-3);
  --color-chart-4: var(--chart-4);
  --color-chart-5: var(--chart-5);
  --color-sidebar: var(--sidebar);
  --color-sidebar-foreground: var(--sidebar-foreground);
  --color-sidebar-primary: var(--sidebar-primary);
  --color-sidebar-primary-foreground: var(--sidebar-primary-foreground);
  --color-sidebar-accent: var(--sidebar-accent);
  --color-sidebar-accent-foreground: var(--sidebar-accent-foreground);
  --color-sidebar-border: var(--sidebar-border);
  --color-sidebar-ring: var(--sidebar-ring);

  --font-sans: var(--font-sans);
  --font-mono: var(--font-mono);
  --font-serif: var(--font-serif);

  --radius-sm: calc(var(--radius) - 4px);
  --radius-md: calc(var(--radius) - 2px);
  --radius-lg: var(--radius);
  --radius-xl: calc(var(--radius) + 4px);

  --shadow-2xs: var(--shadow-2xs);
  --shadow-xs: var(--shadow-xs);
  --shadow-sm: var(--shadow-sm);
  --shadow: var(--shadow);
  --shadow-md: var(--shadow-md);
  --shadow-lg: var(--shadow-lg);
  --shadow-xl: var(--shadow-xl);
  --shadow-2xl: var(--shadow-2xl);
}



@layer base {
  * {
    @apply border-border outline-ring/50;
  }
  body {
    @apply bg-background text-foreground;
  }
}

@keyframes float {
  0% {
    transform: translateY(0px);
  }
  50% {
    transform: translateY(-15px);
  }
  100% {
    transform: translateY(0px);
  }
}

.animate-float {
  animation: float 6s ease-in-out infinite;
}



@keyframes loading {
  0% {
    transform: translateX(-100%);
  }
  50% {
    transform: translateX(100%);
  }
  100% {
    transform: translateX(-100%);
  }
}

body {
  font-family: var(--font-satoshi);
}
